
*{
  font-family: 'Sunflower', sans-serif;
}

/* h1, h2, h3 {
text-align: right;
vertical-align: middle;
margin-bottom: 0px;
margin-top: 0px;
margin-right: 10px;
}
h2{
margin-top: 18px;
} */
h2, p{
  text-align: right;
  vertical-align: middle;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 10px;
}

h2{
margin-top: 10px;
}

body{
  justify-content: center;
  margin: auto;
}

#header{
display: flex;
width: 100%
}

.right-box {
  width: 50%;
  height: 50%;
}

.left-box {
  width: 50%;
  height: 50%;
}

.left-box img {
max-width: 25%;
height: auto;
margin-top:10px;
max-height: 25%;
margin-left: 10px;
}

hr {
  width: 100%
}

.about-me {
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 75%;
}

.about-me img{
  width: 33%;
  height: auto;
}

section{
  width: 200px;
  justify-content: center;
  margin: auto;
}

.container{
  display: inline;
  flex-wrap: block;
}

.container img {
  width: 100%;
  height: auto
}

.footer{
  width: 100%;

}


.social-media{
display: flex;

}

.social-media img{
height: 10%;
width: 10%;
margin-left: 20px;
}
